body{
   margin: 0;
   overflow: scroll;
}
header{
   color:white;
   margin:0;
   padding:0;
   height:60px;
   width:100%;
   background-color:#CC0033;
   text-align:center;
   z-index:9000;
   position: fixed;
   top: 0px;
}
footer{
   color:white;
   position:absolute;
   margin:0;
   padding:10px;
   width:100%;
   background-color:#CC0033;
   text-align:center;
   bottom: 0px;
}
footer a{
   color:#F0F0F0;
}
footer a:hover{
   color:white;
}
.left{
   float:left;
}
.right{
   float:right;
}
#name-display{
   height:60px;
   padding-left:20px;
   display: table-cell;
   vertical-align: middle;
}
#name-display div{
   font-size:24px;
   display: inline-block;
   vertical-align: middle;
}
#page-selector{
   margin:0;
   padding:10px;
   list-style-type:none;
}
#page-selector li{
   height:40px;
   padding: 0 10px;
   display:table-cell;
   vertical-align:middle;
   cursor:pointer;

   border-radius:10px;
}
#page-selector li:not(#language-selector):hover{
   background-color:#b01c2e;
}
#page-selector li:not(#language-selector) div{
   font-size:22px;
}
#language-selector{
   cursor:default !important;
}
#language-selector div, select{
   font-size:18px;
   display: inline-block;
   vertical-align: middle;
}
#header-fix{
   height:80px;
   display:none;
}