@font-face {
	font-family: 'Academicons';
	src:url('academicons-1.8.6/fonts/academicons.eot?v=1.8.6');
	src:url('academicons-1.8.6/fonts/academicons.eot?v=1.8.6') format('embedded-opentype'),
		url('academicons-1.8.6/fonts/academicons.ttf?v=1.8.6') format('truetype'),
		url('academicons-1.8.6/fonts/academicons.woff?v=1.8.6') format('woff'),
		url('academicons-1.8.6/fonts/academicons.svg?v=1.8.6#academicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FontAwesome';
	src:url('font-awesome-4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
	src:url('font-awesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		url('font-awesome-4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
		url('font-awesome-4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
		url('font-awesome-4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
		url('font-awesome-4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.social-icon {
	display:inline-block;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.f-2x {font-size:2em !important;}
.f-1_5x {font-size:1.5em !important;}
.ai{font:normal normal normal 14px/1 Academicons;}
.ai-google-scholar:before {content: "\e9d4";}
.ai-google-scholar-square:before {content: "\e9f9";}
.ai-researchgate:before {content: "\e95e";}
.ai-researchgate-square:before {content: "\e99e";}
.ai-dblp:before {content: "\e94f";}
.ai-dblp-square:before {content: "\e93f";}
.fa{font: normal normal normal 14px/1 FontAwesome;}
.fa-copyright:before {content: "\f1f9";}
.fa-linkedin:before {content: "\f0e1";}
.fa-linkedin-square:before {content: "\f08c";}
.fa-file-text:before {content: "\f15c";}
.fa-trophy:before {content: "\f091";}