#profile{
   display: flex;
   width: 80%;
   margin: auto;
   text-align: left;
}
#biography{
   display: inline-block;
   width: 60%;
   margin: auto;
   text-align: left;
}
#profile-left {
   text-align: center;
   width: 40%;
}
#profile-right {
   width: 60%;
}
#research-interests {
   width: 60%;
   text-align: left;
}
