#profile{
   display: flex;
   width: 60%;
   min-width: 900px;
   margin: auto;
   text-align: left;
}
#profile-left {
   text-align: center;
   width: 40%;
   min-width: 375px;
}
#profile-photo img{
   width: 350px;
   border-radius: 20px;   
}
#profile-right {
   width: 60%;
   min-width: 525px;
}
#information-blocks{
   padding: 0;
   margin: 0;
}
#information-blocks div{
   margin: 10px 0;
   width: 60%;
   min-width: 600px;
   text-align: left;
}
/* For tablets: max-width: 992px */
/* For mobiles: max-width: 600px */
@media only screen and (max-width: 900px) {
   #profile{
      display: block;
      width: 100%;
      min-width: 0px;
      text-align: center;
   }
   #profile-left {
      width: 100%;
      min-width: 0px;
   }
   #profile-right {
      text-align: left;
      width: 80%;
      min-width: 525px;
   }
}
@media only screen and (max-width: 600px) {
   #profile-right {
      text-align: left;
      width: 100%;
      min-width: 0px;
   }
   #information-blocks div{
      width: 100%;
      min-width: 0px;
      text-align: left;
   }
}
@media only screen and (max-width: 375px) {
   #profile-photo img{
      width: 100%;
   }
}