#publication-sort-options div{
   height:40px;
   vertical-align:middle;
   display:table-cell;
}
#publication-sort-options ul{
   height:40px;
   padding-left:10px;
   padding-right:10px;
   vertical-align:middle;
   display:table-cell;
}
#publication-sort-options li{
   height:40px;
   padding-left:10px;
   padding-right:10px;
   display:table-cell;
   vertical-align:middle;
   cursor:pointer;

   color:#FF6C0C; 
   border-radius: 10px;
   border-style: solid;
}
#publications ul li::before{
   margin-right: 0.5em;
   text-align: right;
}