#publication-sort-options div{
   height:40px;
   vertical-align:middle;
   display:table-cell;
}
#publication-sort-options ul{
   height:40px;
   padding-left:10px;
   padding-right:10px;
   vertical-align:middle;
   display:table-cell;
}
#publication-sort-options li{
   height:40px;
   padding-left:10px;
   padding-right:10px;
   display:table-cell;
   vertical-align:middle;
   cursor:pointer;
}