#publications ul{
   list-style-type:none;
}
#publications ul li{
   margin-left: 2em;
   padding-bottom:15px;
   text-indent: -5em;
}
.publication-id{
   display:inline-block;
   margin: 0 0.5em 0 0;
   width: 4.5em;
   text-align: right;
   font-weight: bold;
   color:#4267B2;
}
#publication-sort-options div{
   height:40px;
   vertical-align:middle;
   display:table-cell;
}
#publication-sort-options ul{
   height:40px;
   padding-left:10px;
   padding-right:10px;
   vertical-align:middle;
   display:table-cell;
}
#publication-sort-options li{
   height:40px;
   padding-left:10px;
   padding-right:10px;
   display:table-cell;
   vertical-align:middle;
   cursor:pointer;

   color:#4267B2; 
   border-radius: 10px;
   border-style: solid;
}